@model MarsRoverUI.Models.ViewModel
@{
    ViewBag.Title = "A Mind Game";
    ViewBag.Message = "Please submit your track(s)";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
               
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <div id="inputBoxes">
                <div class="inputOutput">
                    <label for="Input">Track(s):</label>
                    <textarea id="Input" name="Input" autofocus>@Model.Input</textarea>
                </div>

                <div style="width:10%; min-height:100px;">
                    <button onclick="AjaxSubmit();AjaxRefreshLT();AjaxRefreshRH();" id="sbmt">Submit</button>
                </div>

                <div class="inputOutput">
                    <label for="Input">Final Location(s):</label>
                    <textarea id="Output" name="Output" disabled>@Model.Output</textarea>
                </div>

            </div>
            <div id="infoBoxes">
                <div class="infoBox">
                    <label for="Track">Last Track</label>
                    <textarea id="Track" name="Track" disabled></textarea>
                    <a onclick="AjaxRefreshLT();" href="#" id="A1">(Update)</a>
                </div>

                <div class="infoBox">
                    <label for="Longest">Record Holder</label>
                    <textarea id="Longest" name="Longest" disabled></textarea>
                    <a onclick="AjaxRefreshRH();" href="#" id="A2">(Update)</a>
                </div>
            </div>
        </div>
    </section>
}

<script>
    function AjaxSubmit() {
        var inputText = $('#Input').val();                
        $.ajax({
            type: "Post",
            url: "/Home/AjaxProcess",
            dataType: "json",
            data: {inp : inputText}
        }).done(function (data) {
            debugger;
            $('#Output').text(data.FinalLocation +"\n" + data.RoverCount + "\n" + data.StepCount);
        });
    }

    function AjaxRefreshLT() {
        $.ajax({
            type: "Get",
            url: "/lasttrack/get",
            complete: function (data, textStatus) {
                $('#Track').text(data.responseText);
            }
        });
    }

    function AjaxRefreshRH() {
        $.getJSON("http://localhost:52998/api/recordholder",
                    function (data) {
                        $('#Longest').text(data.Holder);
                    })
                }

</script>